// main-promo
.main-promo {
   z-index: 0;

   max-width: 100%;
   margin: 0 auto;

   background: #ecffeb;
}

.main-promo__inner {
   position: relative;
   z-index: 1;

   padding: 7rem 0 13.8rem;
   display: flex;
   flex-direction: column;

   @media screen and (max-width: $md) {
      padding-bottom: 5rem;
   }

   @media screen and (max-width: 560px) {
      justify-content: center;
      align-items: center;
      padding-bottom: 26.8rem;
   }

   @media screen and (max-width: $mob) {
      padding-bottom: 23rem;
   }

   &::after {
      position: absolute;
      z-index: -1;
      right: 0;
      top: 5%;

      display: block;
      content: "";
      max-width: 100%;
      width: 68rem;
      height: 100%;

      background: url(../images/main/promo/bg.webp) bottom right no-repeat/contain;

      @media screen and (max-width: 1150px) {
         width: 52rem;
         top: -5%;

         background: url(../images/main/promo/bg-1000.webp) bottom right no-repeat/contain;
      }

      @media screen and (max-width: 800px) {
         background: url(../images/main/promo/bg-768.webp) bottom right no-repeat/contain;
      }

      @media screen and (max-width: $md) {
         width: 40rem;
      }

      @media screen and (max-width: 700px) {
         width: 60%;
      }

      @media screen and (max-width: 600px) {
         background: url(../images/main/promo/bg-480.webp) bottom right no-repeat/contain;
      }

      @media screen and (max-width: 560px) {
         width: 27rem;

         top: inherit;
         bottom: 0;
         right: 50%;
         transform: translateX(50%);
      }

      @media screen and (max-width: $mob) {
      }
   }

   .main-promo__span {
      font-weight: 600;
      font-size: 2rem;
      line-height: 2.6rem;
   }

   .main-promo__title {
      margin-top: 1rem;
      max-width: 49.6rem;

      font-weight: 700;
      font-size: 6.5rem;
      line-height: 6.5rem;
      color: $color3;

      @media screen and (max-width: $lg) {
         max-width: 30rem;

         font-size: 4rem;
         line-height: 4rem;
      }

      @media screen and (max-width: 700px) {
         font-size: 2.4rem;
         line-height: 2.5rem;
      }

      @media screen and (max-width: 560px) {
         text-align: center;
         font-size: 3rem;
         line-height: 2.8rem;
      }
   }

   .main-promo__description {
      margin-top: 2rem;
      max-width: 42rem;

      font-size: 2rem;
      line-height: 2.3rem;

      @media screen and (max-width: $lg) {
         max-width: 30rem;

         font-size: 1.4rem;
         line-height: 1.5rem;
      }

      @media screen and (max-width: 700px) {
         font-size: 1.2rem;
         line-height: 1rem;
      }

      @media screen and (max-width: 560px) {
         text-align: center;
         font-size: 1.4rem;
         line-height: 1.5rem;
      }
   }

   .main-promo__btns {
      margin-top: 5.7rem;
      display: flex;
      gap: 2rem;

      @media screen and (max-width: 800px) {
         flex-direction: column;
      }

      @media screen and (max-width: 700px) {
         margin-top: 4rem;
      }

      @media screen and (max-width: 560px) {
         margin-top: 2rem;
      }
   }
}

// main-promo-info
.main-promo-info {
   max-width: 100%;

   .container {
      @media screen and (max-width: 500px) {
         max-width: 35rem;
      }
   }
}

.main-promo-info__inner {
   position: relative;
   z-index: 2;

   padding: 5.4rem 6.4rem 5.3rem;
   margin-top: -3rem;

   background-color: $decor5;
   box-shadow: -2px 2px 20px rgba(66, 66, 66, 0.15);
   border-radius: 4px;

   @media screen and (max-width: $lg) {
      padding: 3rem 4rem;
   }

   @media screen and (max-width: 600px) {
      padding: 1.5rem 2rem;
   }

   .main-promo-info__list {
      display: flex;
      justify-content: space-between;
      gap: 12.5rem;

      @media screen and (max-width: $xl) {
         gap: 0rem;
      }

      @media screen and (max-width: 500px) {
         flex-direction: column;
      }

      .main-promo-info__item {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         gap: 1.8rem;

         @media screen and (max-width: $lg) {
            gap: 0.5rem;
         }

         @media screen and (max-width: 500px) {
            flex-direction: row;
            gap: 3rem;
         }
      }

      .main-promo-info__value {
         font-weight: 700;
         font-size: 4.5rem;
         line-height: 4.5rem;
         color: $color3;
         text-align: center;

         @media screen and (max-width: $lg) {
            font-size: 3rem;
         }

         @media screen and (max-width: 700px) {
            font-size: 1.8rem;
         }
      }

      .main-promo-info__description {
         font-weight: 400;
         font-size: 2.3rem;
         line-height: 2.8rem;
         text-align: center;

         @media screen and (max-width: $lg) {
            font-size: 1.8rem;
            line-height: 2.3rem;
         }

         @media screen and (max-width: 700px) {
            font-size: 1.3rem;
         }

         @media screen and (max-width: 500px) {
            max-width: 6.4rem;

            font-size: 1rem;
            line-height: 1.5rem;
         }
      }
   }
}
