<section class="cours-promo">
   <div class="container">
      <div class="cours-promo__inner">
         <div class="cours-promo__left">
            <div class="cours-promo__date">Старт курса: 10 января</div>
            <h2 class="cours-promo__title">Ботулинотерапия для косметологов</h2>
            <div class="cours-promo__btns">
               <a class="btn">Зарегистрироваться</a>
               <a class="btn btn-transparent btn-main-promo">Узнать подробнее</a>
            </div>
         </div>
         <div class="cours-promo__right">
            <picture>
               <source media="(max-width: 320px)" srcset="assets/images/cours/promo/img-320.jpg">
               <source media="(max-width: 660px)" srcset="assets/images/cours/promo/img-480.jpg">
               <source media="(max-width: 768px)" srcset="assets/images/cours/promo/img-768.jpg">
               <source media="(max-width: 1000px)" srcset="assets/images/cours/promo/img-1000.jpg">
               <img class="cours-promo__icon" src="assets/images/cours/promo/img.jpg" alt="logo">
            </picture>
         </div>
      </div>

      <div class="cours-promo__info">
         <p class="cours-promo__description">Процедура ботулинотерапия - это инъекционная методика для устранения и
            профилактики морщин. Также, процедура помогает бороться с опущением уголков рта , потерей четкости овала
            лица , гипергидрозом.</p>
         <p class="cours-promo__description">На курсе вы научитесь тщательно подбирать препарат, а также отработаете на
            практике техники введения и безопасные разметки точек для разных анатомических типов лица. Вы будете
            эффективно и беопасно применять навыки в работе со своими клиентами. Курс по ботулинотерапии необходим,
            чтобы вы были увереныв своих знаниях и приносили желаемый результат своим клиентам.</p>
         <p class="cours-promo__description"> Курс по ботулинотерапии необходим, чтобы вы были увереныв своих знаниях и
            приносили желаемый результат своим клиентам.</p>
      </div>
   </div>
</section>