<section class="videos-anouther">
   <div class="container">
      <h2 class="videos-anouther__title title">Другие видео-уроки</h2>

      <div class="videos-anouther__grid">
         <div class="videos-anouther__item">
            <div class="videos-main__promo videos-anouther__promo">
               <div class="videos-main__block-video">
                  <video class="videos-main__video" poster="assets/images/videos/trailer1-1000.jpg">
                     <source src="" type="video/mp4">
                  </video>
               </div>

               <div class="videos-main__promo-info">
                  <button class="videos-main__play-btn">
                     <img src="assets/images/courses/button.svg" alt="">
                  </button>
                  <div class="videos-main__promo-title">Смотреть трейлер</div>
               </div>
            </div>
            <p class="videos-anouther__description">Актуальна ли мезотерапия в коррекции шеи, декольте, кистей рук и
               какие существуют альтернативы?</p>
            <button class="btn">Купить</button>
         </div>

         <div class="videos-anouther__item">
            <div class="videos-main__promo videos-anouther__promo">
               <div class="videos-main__block-video">
                  <video class="videos-main__video" poster="assets/images/videos/trailer1-1000.jpg">
                     <source src="" type="video/mp4">
                  </video>
               </div>

               <div class="videos-main__promo-info">
                  <button class="videos-main__play-btn">
                     <img src="assets/images/courses/button.svg" alt="">
                  </button>
                  <div class="videos-main__promo-title">Смотреть трейлер</div>
               </div>
            </div>
            <p class="videos-anouther__description">Актуальна ли мезотерапия в коррекции шеи, декольте, кистей рук и
               какие существуют альтернативы?</p>
            <button class="btn">Купить</button>
         </div>

         <div class="videos-anouther__item">
            <div class="videos-main__promo videos-anouther__promo">
               <div class="videos-main__block-video">
                  <video class="videos-main__video" poster="assets/images/videos/trailer1-1000.jpg">
                     <source src="" type="video/mp4">
                  </video>
               </div>

               <div class="videos-main__promo-info">
                  <button class="videos-main__play-btn">
                     <img src="assets/images/courses/button.svg" alt="">
                  </button>
                  <div class="videos-main__promo-title">Смотреть трейлер</div>
               </div>
            </div>
            <p class="videos-anouther__description">Актуальна ли мезотерапия в коррекции шеи, декольте, кистей рук и
               какие существуют альтернативы?</p>
            <button class="btn">Купить</button>
         </div>
      </div>
   </div>
</section>