<section class="aboutus">
   <div class="container">
      <div class="aboutus__inner">
         <picture>
            <source media="(max-width: 320px)" srcset="assets/images/main/aboutUs/img-320.jpg">
            <source media="(max-width: 540px)" srcset="assets/images/main/aboutUs/img-480.jpg">
            <source media="(max-width: 768px)" srcset="assets/images/main/aboutUs/img-768.jpg">
            <source media="(max-width: 1000px)" srcset="assets/images/main/aboutUs/img-1000.jpg">
            <img class="aboutus__icon" src="assets/images/main/aboutUs/img.jpg" alt="logo">
         </picture>

         <div class="aboutus__info">
            <span>О нас</span>
            <h3 class="aboutus__brand">VALMARI</h3>
            <h3 class="aboutus__title">ВЕДУЩИЙ УЧЕБНЫЙ ЦЕНТР ЭСТЕТИЧЕСКОЙ КОСМЕТОЛОГИИ</h3>
            <p class="aboutus__description">Описание может быть любое.</p>
            <p class="aboutus__description">
               Ведущий учебный центр эстетической косметологии.
            </p>
            <p class="aboutus__description">
               Более 5 лет мы проводим курсы сертифицированные курсы профессионального образованияв области
               косметологиии индустрии красоты, здоровьяи молодости
            </p>

            <a href="" class="aboutus__link">
               Подробнее
               <picture>
                  <source media="(max-width: 1000px)" srcset="assets/images/main/aboutUs/arrow-1000.svg">
                  <img class="aboutus__icon-link" src="assets/images/main/aboutUs/arrow.svg" alt="logo">
               </picture>
            </a>
         </div>

         <a href="" class="aboutus__link aboutus__link-2">
            Подробнее
            <picture>
               <source media="(max-width: 1000px)" srcset="assets/images/main/aboutUs/arrow-1000.svg">
               <img class="aboutus__icon-link" src="assets/images/main/aboutUs/arrow.svg" alt="logo">
            </picture>
         </a>
      </div>
   </div>
</section>