<div class="courses__bg"></div>
<section class="courses">
   <div class="container">
      <div class="courses__inner">
         <h2 class="courses__title title">Курсы обучения</h2>

         <div class="courses__slider slider">
            <div class="courses__item">
               <div class="courses__item-block">
                  <span class="courses__promo">Курс для медиков</span>

                  <picture>
                     <source media="(max-width: 768px)" srcset="assets/images/main/courses/icon-768.svg">
                     <source media="(max-width: 1000px)" srcset="assets/images/main/courses/icon-1000.svg">
                     <img class="courses__icon" src="assets/images/main/courses/icon.svg" alt="logo">
                  </picture>

                  <h3 class="courses__item-title courses__item-title-1 violet">Канюльные техники</h3>

                  <a class="btn btn-small violet-btn">Оффлайн</a>

                  <div class="courses__item-date">1 - 4 мая</div>

                  <div class="courses__info">
                     <div class="courses__description">Краткое описа<br>Что-то о курсе<br>Пару фактов<br>Краткое
                        описание
                     </div>

                     <picture>
                        <source media="(max-width: 768px)" srcset="assets/images/main/courses/course1-768.webp">
                        <source media="(max-width: 1000px)" srcset="assets/images/main/courses/course1-1000.webp">
                        <img src="assets/images/main/courses/course1.webp" alt="logo">
                     </picture>
                  </div>

                  <span class="courses__places">Свободно 2 из 15 мест</span>
               </div>

               <a class="btn violet-btn">Зарегистрироваться</a>
               <a class="btn btn-transparent btn-main-promo violet">Подробнее</a>
            </div>
            <!-- courses__item 1 -->

            <div class="courses__item">
               <div class="courses__item-block">
                  <span class="courses__promo">Курс для медиков</span>

                  <picture>
                     <source media="(max-width: 768px)" srcset="assets/images/main/courses/icon-768.svg">
                     <source media="(max-width: 1000px)" srcset="assets/images/main/courses/icon-1000.svg">
                     <img class="courses__icon" src="assets/images/main/courses/icon.svg" alt="logo">
                  </picture>

                  <h3 class="courses__item-title green">Мезотерапияи и биоревителизация</h3>

                  <a class="btn btn-small green-btn">Онлайн</a>

                  <div class="courses__item-date">15 - 20 мая</div>

                  <div class="courses__info">
                     <div class="courses__description">Краткое описа<br>Что-то о курсе<br>Пару фактов<br>Краткое
                        описание
                     </div>

                     <picture>
                        <source media="(max-width: 768px)" srcset="assets/images/main/courses/course1-768.webp">
                        <source media="(max-width: 1000px)" srcset="assets/images/main/courses/course1-1000.webp">
                        <img src="assets/images/main/courses/course1.webp" alt="logo">
                     </picture>
                  </div>

                  <span class="courses__places">Свободно 2 из 15 мест</span>
               </div>

               <a class="btn green-btn">Зарегистрироваться</a>
               <a class="btn btn-transparent btn-main-promo green">Подробнее</a>
            </div>
            <!-- courses__item 2 -->

            <div class="courses__item">
               <div class="courses__item-block">
                  <span class="courses__promo">Курс для медиков</span>

                  <picture>
                     <source media="(max-width: 768px)" srcset="assets/images/main/courses/icon-768.svg">
                     <source media="(max-width: 1000px)" srcset="assets/images/main/courses/icon-1000.svg">
                     <img class="courses__icon" src="assets/images/main/courses/icon.svg" alt="logo">
                  </picture>

                  <h3 class="courses__item-title birch">Биогель - новое в косметологии</h3>

                  <a class="btn btn-small birch-btn">Мастер-класс</a>

                  <div class="courses__item-date">2 - 5 августа</div>

                  <div class="courses__info">
                     <div class="courses__description">Краткое описа<br>Что-то о курсе<br>Пару фактов<br>Краткое
                        описание
                     </div>

                     <picture>
                        <source media="(max-width: 768px)" srcset="assets/images/main/courses/course2-768.webp">
                        <source media="(max-width: 1000px)" srcset="assets/images/main/courses/course2-1000.webp">
                        <img src="assets/images/main/courses/course2.webp" alt="logo">
                     </picture>
                  </div>

                  <span class="courses__places">Свободно 2 из 15 мест</span>
               </div>

               <a class="btn birch-btn">Зарегистрироваться</a>
               <a class="btn btn-transparent btn-main-promo birch">Подробнее</a>
            </div>
            <!-- courses__item 3 -->

            <div class="courses__item">
               <div class="courses__item-block">
                  <span class="courses__promo">Курс для медиков</span>

                  <picture>
                     <source media="(max-width: 768px)" srcset="assets/images/main/courses/icon-768.svg">
                     <source media="(max-width: 1000px)" srcset="assets/images/main/courses/icon-1000.svg">
                     <img class="courses__icon" src="assets/images/main/courses/icon.svg" alt="logo">
                  </picture>

                  <h3 class="courses__item-title courses__item-title-1 violet">Канюльные техники</h3>

                  <a class="btn btn-small violet-btn">Оффлайн</a>

                  <div class="courses__item-date">1 - 4 мая</div>

                  <div class="courses__info">
                     <div class="courses__description">Краткое описа<br>Что-то о курсе<br>Пару фактов<br>Краткое
                        описание
                     </div>

                     <picture>
                        <source media="(max-width: 768px)" srcset="assets/images/main/courses/course1-768.webp">
                        <source media="(max-width: 1000px)" srcset="assets/images/main/courses/course1-1000.webp">
                        <img src="assets/images/main/courses/course1.webp" alt="logo">
                     </picture>
                  </div>

                  <span class="courses__places">Свободно 2 из 15 мест</span>
               </div>

               <a class="btn violet-btn">Зарегистрироваться</a>
               <a class="btn btn-transparent btn-main-promo violet">Подробнее</a>
            </div>
            <!-- courses__item 4 -->

            <div class="courses__item">
               <div class="courses__item-block">
                  <span class="courses__promo">Курс для медиков</span>

                  <picture>
                     <source media="(max-width: 768px)" srcset="assets/images/main/courses/icon-768.svg">
                     <source media="(max-width: 1000px)" srcset="assets/images/main/courses/icon-1000.svg">
                     <img class="courses__icon" src="assets/images/main/courses/icon.svg" alt="logo">
                  </picture>

                  <h3 class="courses__item-title green">Мезотерапияи и биоревителизация</h3>

                  <a class="btn btn-small green-btn">Онлайн</a>

                  <div class="courses__item-date">15 - 20 мая</div>

                  <div class="courses__info">
                     <div class="courses__description">Краткое описа<br>Что-то о курсе<br>Пару фактов<br>Краткое
                        описание
                     </div>

                     <picture>
                        <source media="(max-width: 768px)" srcset="assets/images/main/courses/course1-768.webp">
                        <source media="(max-width: 1000px)" srcset="assets/images/main/courses/course1-1000.webp">
                        <img src="assets/images/main/courses/course1.webp" alt="logo">
                     </picture>
                  </div>

                  <span class="courses__places">Свободно 2 из 15 мест</span>
               </div>

               <a class="btn green-btn">Зарегистрироваться</a>
               <a class="btn btn-transparent btn-main-promo green">Подробнее</a>
            </div>
            <!-- courses__item 5 -->

            <div class="courses__item">
               <div class="courses__item-block">
                  <span class="courses__promo">Курс для медиков</span>

                  <picture>
                     <source media="(max-width: 768px)" srcset="assets/images/main/courses/icon-768.svg">
                     <source media="(max-width: 1000px)" srcset="assets/images/main/courses/icon-1000.svg">
                     <img class="courses__icon" src="assets/images/main/courses/icon.svg" alt="logo">
                  </picture>

                  <h3 class="courses__item-title birch">Биогель - новое в косметологии</h3>

                  <a class="btn btn-small birch-btn">Мастер-класс</a>

                  <div class="courses__item-date">2 - 5 августа</div>

                  <div class="courses__info">
                     <div class="courses__description">Краткое описа<br>Что-то о курсе<br>Пару фактов<br>Краткое
                        описание
                     </div>

                     <picture>
                        <source media="(max-width: 768px)" srcset="assets/images/main/courses/course2-768.webp">
                        <source media="(max-width: 1000px)" srcset="assets/images/main/courses/course2-1000.webp">
                        <img src="assets/images/main/courses/course2.webp" alt="logo">
                     </picture>
                  </div>

                  <span class="courses__places">Свободно 2 из 15 мест</span>
               </div>

               <a class="btn birch-btn">Зарегистрироваться</a>
               <a class="btn btn-transparent btn-main-promo birch">Подробнее</a>
            </div>
            <!-- courses__item 6 -->
         </div>
         <!-- slider -->

         <div class="slider-courses-btn-left">
            <img src="assets/images/slider/slider-left.svg" alt="">
         </div>
         <div class="slider-courses-btn-right">
            <img src="assets/images/slider/slider-right.svg" alt="">
         </div>
         <!-- slider-btns -->
      </div>
   </div>
</section>