<section class="masterclasses">
   <div class="container">
      <div class="masterclasses__inner">
         <h2 class="masterclasses__title title">Мастер-классы</h2>
         <p class="masterclasses__inner-info">Мероприятия для повышения квалификации косметологов</p>

         <div class="masterclasses__slider slider">
            <div class="masterclasses__item">
               <picture>
                  <source media="(max-width: 768px)" srcset="assets/images/main/masterClasses/img1-768.jpg">
                  <source media="(max-width: 1000px)" srcset="assets/images/main/masterClasses/img1-1000.jpg">
                  <img class="masterclasses__icon" src="assets/images/main/masterClasses/img1.jpg" alt="logo">
               </picture>

               <div class="masterclasses__info">
                  <div class="masterclasses__description">
                     <time>3 ноября, 10:00-12:00</time>
                     <p>10 возможностей неодимового лазера. Лазерный пилинг, удаление тату/татуажа</p>
                     <div class="masterclasses__teacher">Тренер: Юлия Щукина</div>
                  </div>

                  <div class="masterclasses__block">
                     <div class="masterclasses__price">2000 грн</div>
                     <a href="" class="masterclasses__link">
                        <picture>
                           <source media="(max-width: 768px)" srcset="assets/images/main/masterClasses/arrow-768.svg">
                           <source media="(max-width: 1000px)" srcset="assets/images/main/masterClasses/arrow-1000.svg">
                           <img class="masterclasses__arrow" src="assets/images/main/masterClasses/arrow.svg"
                              alt="logo">
                        </picture>
                     </a>
                  </div>
               </div>
            </div>
            <!-- masterclasses__item 1 -->

            <div class="masterclasses__item">
               <picture>
                  <source media="(max-width: 768px)" srcset="assets/images/main/masterClasses/img2-768.jpg">
                  <source media="(max-width: 1000px)" srcset="assets/images/main/masterClasses/img2-1000.jpg">
                  <img class="masterclasses__icon" src="assets/images/main/masterClasses/img2.jpg" alt="logo">
               </picture>

               <div class="masterclasses__info">
                  <div class="masterclasses__description">
                     <time>20 ноября, 12:00-17:00</time>
                     <p>Профессия косметолог. Семинар для новичкови профессионалов</p>
                     <div class="masterclasses__teacher">Спикеры: Марина Спивак, Алина Ядчишина, Елена Белогурова, Юлия
                        Щукина</div>
                  </div>

                  <div class="masterclasses__block">
                     <div class="masterclasses__price">Бесплатно</div>
                     <a href="" class="masterclasses__link">
                        <picture>
                           <source media="(max-width: 768px)" srcset="assets/images/main/masterClasses/arrow-768.svg">
                           <source media="(max-width: 1000px)" srcset="assets/images/main/masterClasses/arrow-1000.svg">
                           <img class="masterclasses__arrow" src="assets/images/main/masterClasses/arrow.svg"
                              alt="logo">
                        </picture>
                     </a>
                  </div>
               </div>
            </div>
            <!-- masterclasses__item 2 -->

            <div class="masterclasses__item">
               <picture>
                  <source media="(max-width: 768px)" srcset="assets/images/main/masterClasses/img1-768.jpg">
                  <source media="(max-width: 1000px)" srcset="assets/images/main/masterClasses/img1-1000.jpg">
                  <img class="masterclasses__icon" src="assets/images/main/masterClasses/img1.jpg" alt="logo">
               </picture>

               <div class="masterclasses__info">
                  <div class="masterclasses__description">
                     <time>3 ноября, 10:00-12:00</time>
                     <p>10 возможностей неодимового лазера. Лазерный пилинг, удаление тату/татуажа</p>
                     <div class="masterclasses__teacher">Тренер: Юлия Щукина</div>
                  </div>

                  <div class="masterclasses__block">
                     <div class="masterclasses__price">2000 грн</div>
                     <a href="" class="masterclasses__link">
                        <picture>
                           <source media="(max-width: 768px)" srcset="assets/images/main/masterClasses/arrow-768.svg">
                           <source media="(max-width: 1000px)" srcset="assets/images/main/masterClasses/arrow-1000.svg">
                           <img class="masterclasses__arrow" src="assets/images/main/masterClasses/arrow.svg"
                              alt="logo">
                        </picture>
                     </a>
                  </div>
               </div>
            </div>
            <!-- masterclasses__item 3 -->

            <div class="masterclasses__item">
               <picture>
                  <source media="(max-width: 768px)" srcset="assets/images/main/masterClasses/img2-768.jpg">
                  <source media="(max-width: 1000px)" srcset="assets/images/main/masterClasses/img2-1000.jpg">
                  <img class="masterclasses__icon" src="assets/images/main/masterClasses/img2.jpg" alt="logo">
               </picture>

               <div class="masterclasses__info">
                  <div class="masterclasses__description">
                     <time>20 ноября, 12:00-17:00</time>
                     <p>Профессия косметолог. Семинар для новичкови профессионалов</p>
                     <div class="masterclasses__teacher">Спикеры: Марина Спивак, Алина Ядчишина, Елена Белогурова, Юлия
                        Щукина</div>
                  </div>

                  <div class="masterclasses__block">
                     <div class="masterclasses__price">Бесплатно</div>
                     <a href="" class="masterclasses__link">
                        <picture>
                           <source media="(max-width: 768px)" srcset="assets/images/main/masterClasses/arrow-768.svg">
                           <source media="(max-width: 1000px)" srcset="assets/images/main/masterClasses/arrow-1000.svg">
                           <img class="masterclasses__arrow" src="assets/images/main/masterClasses/arrow.svg"
                              alt="logo">
                        </picture>
                     </a>
                  </div>
               </div>
            </div>
            <!-- masterclasses__item 4 -->
         </div>

         <div class="slider-masterclasses-btn-left">
            <img src="assets/images/slider/slider-left.svg" alt="">
         </div>
         <div class="slider-masterclasses-btn-right">
            <img src="assets/images/slider/slider-right.svg" alt="">
         </div>
         <!-- slider-btns -->
      </div>
   </div>
</section>