<section class="offer">
   <div class="container">
      <div class="offer__inner">
         <h2 class="offer__title title">Специальные предложения</h2>

         <div class="slider offer__slider">
            <div class="offer__item">
               <picture>
                  <source media="(max-width: 768px)" srcset="assets/images/main/offer/img1.jpg">
                  <source media="(max-width: 1000px)" srcset="assets/images/main/offer/img1.jpg">
                  <img class="offer__icon" src="assets/images/main/offer/img1.jpg" alt="logo">
               </picture>
            </div>

            <div class="offer__item">
               <picture>
                  <source media="(max-width: 768px)" srcset="assets/images/main/offer/img2.jpg">
                  <source media="(max-width: 1000px)" srcset="assets/images/main/offer/img2.jpg">
                  <img class="offer__icon" src="assets/images/main/offer/img2.jpg" alt="logo">
               </picture>
            </div>

            <div class="offer__item">
               <picture>
                  <source media="(max-width: 768px)" srcset="assets/images/main/offer/img3.jpg">
                  <source media="(max-width: 1000px)" srcset="assets/images/main/offer/img3.jpg">
                  <img class="offer__icon" src="assets/images/main/offer/img3.jpg" alt="logo">
               </picture>
            </div>

            <div class="offer__item">
               <picture>
                  <source media="(max-width: 768px)" srcset="assets/images/main/offer/img1.jpg">
                  <source media="(max-width: 1000px)" srcset="assets/images/main/offer/img1.jpg">
                  <img class="offer__icon" src="assets/images/main/offer/img1.jpg" alt="logo">
               </picture>
            </div>

            <div class="offer__item">
               <picture>
                  <source media="(max-width: 768px)" srcset="assets/images/main/offer/img2.jpg">
                  <source media="(max-width: 1000px)" srcset="assets/images/main/offer/img2.jpg">
                  <img class="offer__icon" src="assets/images/main/offer/img2.jpg" alt="logo">
               </picture>
            </div>

            <div class="offer__item">
               <picture>
                  <source media="(max-width: 768px)" srcset="assets/images/main/offer/img3.jpg">
                  <source media="(max-width: 1000px)" srcset="assets/images/main/offer/img3.jpg">
                  <img class="offer__icon" src="assets/images/main/offer/img3.jpg" alt="logo">
               </picture>
            </div>
         </div>

         <div class="slider-offer-btn-left">
            <img src="assets/images/slider/slider-left.svg" alt="">
         </div>
         <div class="slider-offer-btn-right">
            <img src="assets/images/slider/slider-right.svg" alt="">
         </div>
         <!-- slider-btns -->
      </div>
   </div>
</section>