<section class="main-promo">
   <div class="container">
      <div class="main-promo__inner">
         <span class="main-promo__span">Бесплатный вебинар</span>
         <h1 class="main-promo__title">ПРОФЕССИЯ КОСМЕТОЛОГ</h1>
         <p class="main-promo__description">Приглашаем на бесплатный вебинар для профессиональных косметологов и
            интересующихся этой профессией</p>
         <div class="main-promo__btns">
            <a class="btn">Зарегистрироваться</a>
            <a class="btn btn-transparent btn-main-promo">Узнать подробнее</a>
         </div>
      </div>
   </div>
</section>

<div class="main-promo-info">
   <div class="container">
      <div class="main-promo-info__inner">
         <ul class="main-promo-info__list">
            <li class="main-promo-info__item">
               <div class="main-promo-info__value">4000+</div>
               <div class="main-promo-info__description">Сертификатов мы выдали</div>
            </li>
            <li class="main-promo-info__item">
               <div class="main-promo-info__value">3500+</div>
               <div class="main-promo-info__description">Моделей в нашей базе</div>
            </li>
            <li class="main-promo-info__item">
               <div class="main-promo-info__value">1500+</div>
               <div class="main-promo-info__description">Специалистов мы обучили</div>
            </li>
            <li class="main-promo-info__item">
               <div class="main-promo-info__value">5500+</div>
               <div class="main-promo-info__description">Довольных клиентов</div>
            </li>
         </ul>
      </div>
   </div>
</div>