<footer class="footer">
   <div class="footer__map">
      <iframe
         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2566.387102292939!2d36.21513957228671!3d49.96659865076356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a06ae86ecfa5%3A0xa7c5d940efd069c2!2z0YPQuy4g0JDQutCw0LTQtdC80LjQutCwINCR0L7Qs9C-0LzQvtC70YzRhtCwLCA30JAsINCl0LDRgNGM0LrQvtCyLCDQpdCw0YDRjNC60L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNC40L3QsCwgNjEwMDA!5e0!3m2!1sru!2sby!4v1670092860360!5m2!1sru!2sby"
         style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>
   <div class="footer__info">
      <div class="footer__logo">
         <a href="index.html" class="main-link">
            <picture>
               <source media="(max-width: 480px)" srcset="assets/images/footer/logo-480.svg">
               <source media="(max-width: 1000px)" srcset="assets/images/footer/logo-1000.svg">
               <img src="assets/images/footer/logo.svg" alt="logo">
            </picture>
         </a>
      </div>

      <a href="tel:0800508622" class="footer__tel">0 (800) 508-622</a>

      <address class="footer__adderess">Харьков, Клочковская, д. 3</address>

      <nav class="footer__nav">
         <ul class="footer__nav-list">
            <li class="footer__nav-item">
               <a href="courses.html" class="footer__nav-link">Курсы обучения</a>
            </li>
            <li class="footer__nav-item">
               <a href="" class="footer__nav-link">Акции</a>
            </li>
            <li class="footer__nav-item">
               <a href="" class="footer__nav-link">Вебинары</a>
            </li>
            <li class="footer__nav-item">
               <a href="" class="footer__nav-link">О нас</a>
            </li>
            <li class="footer__nav-item">
               <a href="" class="footer__nav-link">Видео-уроки</a>
            </li>
            <li class="footer__nav-item">
               <a href="" class="footer__nav-link">Блог</a>
            </li>
            <li class="footer__nav-item">
               <a href="" class="footer__nav-link">Прайс</a>
            </li>
            <li class="footer__nav-item">
               <a href="" class="footer__nav-link">Магазин</a>
            </li>
            <li class="footer__nav-item">
               <a href="" class="footer__nav-link">Рассписание</a>
            </li>
         </ul>
      </nav>

      <div class="footer__social">
         <a href="" class="footer__social-link">
            <img src="assets/images/footer/social/fb.svg" alt="fb">
         </a>
         <a href="" class="footer__social-link">
            <img src="assets/images/footer/social/inst.svg" alt="inst">
         </a>
      </div>

      <div class="footer__confedence">Политика конфиденциальности</div>
   </div>
</footer>