<section class="educational-center">
   <div class="container">
      <div class="educational-center__inner">
         <div class="educational-center__grid">
            <h2 class="educational-center__title">Учебный центр эстетической косметологии VAlmari</h2>
            <div class="educational-center__img">
               <picture>
                  <source media="(max-width: 320px)" srcset="assets/images/about-us/educational-center/bg-320.jpg">
                  <source media="(max-width: 480px)" srcset="assets/images/about-us/educational-center/bg-480.jpg">
                  <source media="(max-width: 768px)" srcset="assets/images/about-us/educational-center/bg-768.jpg">
                  <source media="(max-width: 1000px)" srcset="assets/images/about-us/educational-center/bg-1000.jpg">
                  <img class="educational-center__icon" src="assets/images/about-us/educational-center/bg.jpg"
                     alt="фото">
               </picture>
            </div>
         </div>

         <div class="educational-center__description">
            <p class="educational-center__paragraf">
               Ведущий учебный центр эстетической косметологии.Более 5 лет мы
               проводим сертифицированные курсы профессионального образования в области косметологиии индустрии красоты.
            </p>
            <p class="educational-center__paragraf">
               В данный момент в Харькове нет аналогов нашего учебного центра по уровню подготовки и разнообразию
               читаемых курсов. Все выпускники нашего учебного центра востребованы в: институтах омоложения и здоровья,
               Спа-центрах, салонах красоты, частных клиниках и других организация в сфере "красоты и здоровья".
            </p>
         </div>
      </div>
   </div>
</section>