<section class="our-trainers">
   <div class="container">
      <div class="our-trainers__inner">
         <h2 class="our-trainers__title title">Наши тренера</h2>
         <div class="our-trainers__blocks">
            <div class="our-trainers__block">
               <div class="our-trainers__img">
                  <picture>
                     <source media="(max-width: 480px)" srcset="assets/images/about-us/our-trainers/photo1-480.jpg">
                     <img class="our-trainers__icon" src="assets/images/about-us/our-trainers/photo1.jpg"
                        alt="фото">
                  </picture>
               </div>
               <div class="our-trainers__name">Марина Спивак</div>
               <div class="our-trainers__profetion">Главный тренер</div>
            </div>

            <div class="our-trainers__block">
               <div class="our-trainers__img">
                  <picture>
                     <source media="(max-width: 480px)" srcset="assets/images/about-us/our-trainers/photo2-480.jpg">
                     <img class="our-trainers__icon" src="assets/images/about-us/our-trainers/photo2.jpg"
                        alt="фото">
                  </picture>
               </div>
               <div class="our-trainers__name">Елена Белогурова</div>
               <div class="our-trainers__profetion">Тренер</div>
            </div>

            <div class="our-trainers__block">
               <div class="our-trainers__img">
                  <picture>
                     <source media="(max-width: 480px)" srcset="assets/images/about-us/our-trainers/photo3-480.jpg">
                     <img class="our-trainers__icon" src="assets/images/about-us/our-trainers/photo3.jpg"
                        alt="фото">
                  </picture>
               </div>
               <div class="our-trainers__name">Алина Ядчишина</div>
               <div class="our-trainers__profetion">Тренер</div>
            </div>

            <div class="our-trainers__block">
               <div class="our-trainers__img">
                  <picture>
                     <source media="(max-width: 480px)" srcset="assets/images/about-us/our-trainers/photo4-480.jpg">
                     <img class="our-trainers__icon" src="assets/images/about-us/our-trainers/photo4.jpg"
                        alt="фото">
                  </picture>
               </div>
               <div class="our-trainers__name">Юлия Щукина</div>
               <div class="our-trainers__profetion">Руководитель сети клиник LAZERINI</div>
            </div>
         </div>
      </div>
   </div>
</section>