<section class="reviews">
   <div class="container">
      <div class="reviews__inner">
         <h2 class="reviews__title title">Отзывы</h2>
         <div class="reviews__timetable">
            <div class="reviews__timetable-list">
               <div class="reviews__timetable-item">
                  <div class="reviews__timetable-info">
                     <div class="reviews__timetable-name">Ирина Бубличенко</div>
                     <div class="reviews__timetable-data">15.09.2020</div>
                  </div>
                  <div class="reviews__timetable-description">Вчера была на карбокситерапии первый раз. Сомневалась в
                     эффективности процедуры и очень зря! Цвет лица выровнялся и кожа подтянулась, воспаления стали не
                     такими заметными. Эффект был сразу после процедуры и я планирую пройти весь курс. Алиночка
                     профессионал своего дела и отличный собеседник, всегда рекомендует самые эффективные процедуры.
                  </div>
               </div>

               <div class="reviews__timetable-item">
                  <div class="reviews__timetable-info">
                     <div class="reviews__timetable-name">Ирина Бубличенко</div>
                     <div class="reviews__timetable-data">15.09.2020</div>
                  </div>
                  <div class="reviews__timetable-description">Вчера была на карбокситерапии первый раз. Сомневалась в
                     эффективности процедуры и очень зря! Цвет лица выровнялся и кожа подтянулась, воспаления стали не
                     такими заметными. Эффект был сразу после процедуры и я планирую пройти весь курс. Алиночка
                     профессионал своего дела и отличный собеседник, всегда рекомендует самые эффективные процедуры.
                  </div>
               </div>

               <div class="reviews__timetable-item">
                  <div class="reviews__timetable-info">
                     <div class="reviews__timetable-name">Ирина Бубличенко</div>
                     <div class="reviews__timetable-data">15.09.2020</div>
                  </div>
                  <div class="reviews__timetable-description">Вчера была на карбокситерапии первый раз. Сомневалась в
                     эффективности процедуры и очень зря! Цвет лица выровнялся и кожа подтянулась, воспаления стали не
                     такими заметными. Эффект был сразу после процедуры и я планирую пройти весь курс. Алиночка
                     профессионал своего дела и отличный собеседник, всегда рекомендует самые эффективные процедуры.
                  </div>
               </div>

               <div class="reviews__timetable-item">
                  <div class="reviews__timetable-info">
                     <div class="reviews__timetable-name">Ирина Бубличенко</div>
                     <div class="reviews__timetable-data">15.09.2020</div>
                  </div>
                  <div class="reviews__timetable-description">Вчера была на карбокситерапии первый раз. Сомневалась в
                     эффективности процедуры и очень зря! Цвет лица выровнялся и кожа подтянулась, воспаления стали не
                     такими заметными. Эффект был сразу после процедуры и я планирую пройти весь курс. Алиночка
                     профессионал своего дела и отличный собеседник, всегда рекомендует самые эффективные процедуры.
                  </div>
               </div>

               <div class="reviews__timetable-item">
                  <div class="reviews__timetable-info">
                     <div class="reviews__timetable-name">Ирина Бубличенко</div>
                     <div class="reviews__timetable-data">15.09.2020</div>
                  </div>
                  <div class="reviews__timetable-description">Вчера была на карбокситерапии первый раз. Сомневалась в
                     эффективности процедуры и очень зря! Цвет лица выровнялся и кожа подтянулась, воспаления стали не
                     такими заметными. Эффект был сразу после процедуры и я планирую пройти весь курс. Алиночка
                     профессионал своего дела и отличный собеседник, всегда рекомендует самые эффективные процедуры.
                  </div>
               </div>
            </div>

            <button class="reviews__timetable-btn btn">Оставить отзыв</button>
         </div>
      </div>
   </div>
</section>