<div class="container">
   <div class="courses-pagination">
      <button class="courses-pagination-left">
         <img src="assets/images/courses/arrow-left-pag.svg" alt="">
      </button>
      <button class="courses-pagination-btn courses-pagination-active">1</button>
      <button class="courses-pagination-btn">2</button>
      <button class="courses-pagination-btn">3</button>
      <button class="courses-pagination-btn">4</button>
      <button class="courses-pagination-btn">5</button>
      <button class="courses-pagination-right">
         <img src="assets/images/courses/arrow-right-pag.svg" alt="">
      </button>
   </div>
</div>