<section class="courses-menu">
   <div class="container">
      <div class="courses-menu__inner">
         <h2 class="title courses-menu__title">Курсы обучения</h2>
         <div class="courses-menu__subtitle">
            <img src="assets/images/main/courses/icon.svg" alt="" class="courses-menu__icon">
            <span class="courses-menu__subinfo">- курсы с возможностью ранней регистрации</span>
         </div>

         <ul class="courses-menu__list">
            <li class="courses-menu__item courses-menu-btn courses-menu__item-active" data-courses="all"><span>Все
                  направления</span>
            </li>
            <li class="courses-menu__item">
               <span>Курсы по косметологии</span>
               <ul class="courses-menu__sublist">
                  <li class="courses-menu__subitem">Эстетическая косметология</li>
                  <li class="courses-menu__subitem">Иньекционная косметология</li>
                  <li class="courses-menu__subitem">Лазерная косметология</li>
               </ul>
            </li>
            <li class="courses-menu__item courses-menu-btn" data-courses="online"><span>Онлайн обучение</span></li>
            <li class="courses-menu__item courses-menu-btn" data-courses="class"><span>Мастер-классы</span></li>
         </ul>

         <div class="courses-menu__select">
            <h4 class="courses-menu__select-title courses-menu-btn" data-courses="all">Все направления</h4>
            <ul class="courses-menu__list-select">
               <li class="courses-menu__select-item item-sublist">
                  <span>Курсы по косметологии</span>
                  <ul class="courses-menu__select-sublist">
                     <li class="courses-menu__select-subitem">Эстетическая косметология</li>
                     <li class="courses-menu__select-subitem">Иньекционная косметология</li>
                     <li class="courses-menu__select-subitem">Лазерная косметология</li>
                  </ul>
               </li>
               <li class="courses-menu__select-item courses-menu-btn" data-courses="online"><span>Онлайн обучение</span>
               </li>
               <li class="courses-menu__select-item courses-menu-btn" data-courses="class"><span>Мастер-классы</span>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>