$fontfirst: "Montserrat", sans-serif;
$fontsecond: "Raleway", sans-serif;

$color1: #424242;
$color2: #ffffff;
$color3: #55a630;
$color4: #4340b4;
$color5: #1d8195;

$decor1: #ecffeb;
$decor2: #4340b4;
$decor3: #55a630;
$decor4: #00a896;
$decor5: #ffffff;

$xl: 1240px;
$lg: 1000px;
$md: 768px;
$sm: 480px;
$mob: 320px;
