.courses-pagination {
   display: flex;
   justify-content: center;
   margin-top: 7.5rem;

   ul {
      display: flex;
      gap: 2rem;
   }

   li {
      display: flex;
      align-items: center;
      justify-content: center;

      border: none;
      background: none;

      font-size: 1.8rem;
      line-height: 2.6rem;
      font-weight: 600;
   }

   li.active {
      color: $color3;
   }
}
